/runc
/runc-*
contrib/cmd/recvtty/recvtty
contrib/cmd/sd-helper/sd-helper
contrib/cmd/seccompagent/seccompagent
man/man8
release
Vagrantfile
.vagrant
.idea
runc
libcontainer/nsenter/.idea
libcontainer/nsenter/cmake-build-debug
.DS_Store
vendor